html, body {
    font-family: Arial;
    padding: 0; margin: 0;
}

header {            
    color: #fff;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    overflow: hidden;
    padding: 1em;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 100%;
    background-color: #1070a9;
    background-image: -webkit-gradient(left,linear,0 0,0 100%,from(#0b4b77),color-stop(50%,#1179b6),to(#0b4b77));
    background-image: linear-gradient(to right,#0b4b77,#1179b6 50%,#0b4b77);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0b4b77',endColorstr='#ff0b4b77',GradientType=0);
    box-shadow: 0 -20px 20px -20px rgba(0,0,0,0.6) inset;
}

header h1 {
    display: inline-block;
    margin: 0;
}

article {
    padding: 1em;
}

article table {
    border: solid 1px #bbb;
    padding: 0.2em;
    border-collapse: collapse;
}

article table th {
    color: #fff;
    background-color: #1070a9;
}

article table th,td {
    padding: 0.4em;
    border-bottom: solid 1px #bbb;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    height: 40px; width: 250px;
    background-size: contain;
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22250%22%20height%3D%2240%22%20viewBox%3D%22-34%20-18%20250%2040%22%20enable-background%3D%22new%20-11.107%20-9.722%20953%20141%22%3E%3Cpath%20d%3D%22M63.926.426h-12.289v1.882h9.046c.104.558.157.923.157%201.085%200%202.117-.401%203.441-1.191%203.935-.799.5-2.929.753-6.331.753-4.454%200-7.23-.268-8.25-.796-1.009-.521-1.52-1.954-1.52-4.26l-.021-2.65.041-2.462c0-2.27.46-3.707%201.368-4.269.916-.567%203.246-.855%206.925-.855%203.986%200%206.483.18%207.424.533.922.347%201.389%201.274%201.389%202.754v.519h3.258v-.764c0-2.073-.719-3.429-2.138-4.03-1.403-.594-4.556-.895-9.372-.895-4.804%200-8.047.46-9.638%201.367-1.601.914-2.413%202.774-2.413%205.529l-.021%201.646.021%202.733c0%203.277.73%205.418%202.17%206.364%201.433.94%204.693%201.416%209.693%201.416%205.289%200%208.609-.403%209.869-1.198%201.268-.801%201.911-2.906%201.911-6.255%200-.865-.028-1.549-.084-2.033l-.006-.051z%22%20fill%3D%22%23174a7c%22%2F%3E%3Cpolygon%20points%3D%22392.592%2C11.505%20465.639%2C11.505%20465.639%2C2.373%20376.478%2C2.373%20376.478%2C92.984%20465.639%2C92.984%20465.639%2C83.852%20392.592%2C83.852%20392.592%2C50.76%20462.608%2C50.76%20462.608%2C41.629%20392.592%2C41.629%22%20transform%3D%22matrix(.206%200%200%20.206%20-10.529%20-9.391)%22%20fill%3D%22%23174a7c%22%2F%3E%3Cpath%20d%3D%22M110.154-7.544c-1.351-1.027-4.753-1.548-10.112-1.548-4.637%200-7.852.457-9.552%201.36-1.713.909-2.581%202.625-2.581%205.101l-.042%201.755v1.305c0%204.268.669%206.955%201.989%207.986%201.317%201.027%204.744%201.549%2010.186%201.549%205.471%200%208.902-.525%2010.197-1.563%201.299-1.04%201.958-3.804%201.958-8.216%200-4.097-.687-6.696-2.042-7.728zm-17.987%201.299c.749-.64%203.392-.965%207.854-.965%203.886%200%206.385.277%207.427.823%201.03.54%201.552%201.836%201.552%203.852l.021%201.753v1.21c0%203.799-.379%206.049-1.125%206.687-.749.641-3.399.965-7.875.965-4.463%200-7.105-.324-7.854-.965-.746-.638-1.125-2.888-1.125-6.687%200-3.79.379-6.036%201.125-6.674z%22%20fill%3D%22%23174a7c%22%2F%3E%3Cpolygon%20points%3D%22646.738%2C92.984%20662.853%2C92.984%20662.853%2C12.362%20707.407%2C12.362%20707.407%2C2.373%20601.777%2C2.373%20601.777%2C12.362%20646.738%2C12.362%22%20transform%3D%22matrix(.206%200%200%20.206%20-10.529%20-9.391)%22%20fill%3D%22%23174a7c%22%2F%3E%3Cpath%20d%3D%22M146.991-8.902h-4.564l-10.475%2018.674h3.525l2.186-3.929h14.321l2.207%203.929h3.484l-10.668-18.645-.017-.029zm3.992%2013.053h-12.341l6.13-11.165%206.212%2011.165z%22%20fill%3D%22%23174a7c%22%2F%3E%3Cpath%20d%3D%22M178.221-.02c2.33-.572%203.511-1.889%203.511-3.916%200-2.034-.553-3.386-1.641-4.02-1.081-.628-3.391-.946-6.869-.946h-12.634v18.674h13.987c2.941%200%205.035-.406%206.227-1.206%201.198-.805%201.806-2.216%201.806-4.194%200-2.41-1.475-3.887-4.385-4.392zm-.79-1.343c-.759.411-2.491.619-5.148.619h-8.375v-6.276h9.25c2.27%200%203.756.183%204.418.544.65.355.98%201.154.98%202.377%200%201.412-.378%202.333-1.125%202.737zm-13.523%202.5h8.209c3.362%200%205.448.188%206.2.559.739.364%201.113%201.374%201.113%203.001%200%201.304-.372%202.168-1.105%202.567-.744.406-2.35.612-4.772.612l-2.895.013h-6.751v-6.752z%22%20fill%3D%22%23174a7c%22%2F%3E%3Cpath%20d%3D%22M-10.529-8.91h4.691v2.148c.802-.882%201.694-1.541%202.674-1.976.981-.435%202.049-.653%203.208-.653%201.169%200%202.224.287%203.163.859.941.573%201.697%201.409%202.271%202.509.745-1.099%201.659-1.936%202.742-2.509%201.084-.572%202.267-.859%203.551-.859%201.329%200%202.499.309%203.507.928%201.01.619%201.734%201.426%202.177%202.423.441.996.662%202.617.662%204.862v10.962h-4.725v-9.484c0-2.119-.263-3.554-.79-4.304-.527-.751-1.317-1.125-2.371-1.125-.802%200-1.52.229-2.157.687-.635.458-1.108%201.091-1.417%201.899-.309.808-.464%202.105-.464%203.892v8.436h-4.725v-9.055c0-1.672-.123-2.884-.371-3.634-.246-.751-.617-1.309-1.11-1.676-.494-.367-1.091-.55-1.792-.55-.781%200-1.491.232-2.127.696-.638.464-1.114%201.114-1.429%201.95-.317.836-.474%202.153-.474%203.952v8.316h-4.691v-18.694z%22%20fill%3D%22%2356a0d3%22%2F%3E%3Cpath%20d%3D%22M19.018-8.91h4.794l4.856%2011.73%205.359-11.73h4.807l-11.709%2025.534h-4.844l3.843-8.233-7.106-17.3z%22%20fill%3D%22%2356a0d3%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
}